@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

.home-container {
    background: #DCDAD9; 
}

.main-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 200px;
    position: relative;
}

.contact-us-button {
    position: absolute;
    margin-top: 100px;
    margin-left: 65px;
    font-size: 12px;
    padding: 5px;
    background: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.contact-us-button:hover {
    background: #065472;
}

.main-image {
    width: 250px;
    height: 180px;
}

.home-information-container {
    width: 100vw;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #757575;
}

.home-title, .services-title, .contact-title, .consultation-title {
    margin-top: 30px;
    color: #065472;
    font-size: 23px;
    line-height: 0px;
}

.description {
    width: 300px;
    color: #3E3E3E;
    text-align: center;
    font-size: 16px;
}

.services-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services-title, .contact-title, .consultation-title {
    text-align: center;
}

.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #453F3B;
    margin-right: 10px;
    width: 260px;
    margin-top: 15px;
}

#broken-heart, #child, #wallet {
    background: #DCDAD9;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #065472;
    font-size: 40px;
}

.icon-container {
    margin-top: 15px;
}

.service-name-container{
    /* background: purple; */
    margin-bottom: 0px;
    font-size: 20px;
    color: #DCDAD9;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    
}

.service-info-container {
    /* background: yellow; */
    width: 250px;
    text-align: center;
    color: #DCDAD9;
    font-size: 15px;
} 

.form-container {
    /* background: yellow; */
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.small-form-container {
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea, .submit-button {
    padding: 8px;
    margin-top: 20px;
    box-shadow:  3px 3px 5px 6px #ccc;
    width: 200px;
}

input::placeholder, textarea::placeholder {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-information-container, .form-container {
    /* background: yellow; */
    border-top: 1px solid #757575;
    margin-top: 30px;

}

.submit-button {
    width: 30%;
    color: white;
    background: #757575;
    border-radius: 4px;
    font-size: 15px;
}


.contact-information {
    text-align: center;
    color: #3E3E3E;
    font-size: 16px;
}

footer {
    margin-top: 20px;
    width: 100vw;
    height: 60px;
    background: #453F3B;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scale2 {
    font-size: 30px;
    color: #DCDAD9;
}

@media (max-width: 800px) {
.consultation-image {
        display: none;
    }
}

@media (min-width: 600px) {
.main-image-container {
    height: 400px;
}
.contact-us-button {
    margin-top: 130px;
    margin-left: 180px;
    font-size: 15px;
    padding: 8px;
}

.main-image {
    width: 550px;
    height: 380px;
}

.home-information-container {
    margin-top: 10px;
    height: 280px;
}

.home-title, .services-title, .contact-title, .consultation-title {
    font-size: 30px;
}

.description {
    margin-top: 10px;
    width: 400px;
    font-size: 20px;
}
.service-container {
    width: 350px;
}

#broken-heart, #child, #wallet {
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.service-name-container{
    font-size: 25px;    
}

.service-info-container {
    width: 325px;
    font-size: 20px;
} 

input, textarea, .submit-button {
    width: 300px;
}

.submit-button {
    width: 50%;
}

.contact-information {
    font-size: 20px;
}

footer {
    height: 90px;
}

#scale2 {
    font-size: 40px;
}
}

@media (min-width: 800px) {
    .consultation-image {
        margin-top: 30px;
        width: 300px;
        height: 250px;
    }
}
@media (min-width: 1000px) {
    .main-image-container {
        height: 600px;
    }
    .contact-us-button {
        margin-top: 220px;
        margin-left: 300px;
        font-size: 20px;
        padding: 10px;
    }
    
    .main-image {
        width: 850px;
        height: 580px;
    }
    .home-title, .services-title, .contact-title, .consultation-title {
        font-size: 40px;
    }
    .home-information-container {
        height: 320px;
    }

    .description {
        margin-top: 10px;
        width: 500px;
        font-size: 24px;
    }

    #broken-heart, #child, #wallet {
        width: 110px;
        height: 110px;
    }
    
    .service-name-container{
        font-size: 28px;    
    }

    input, textarea, .submit-button {
        width: 330px;
    }

    .submit-button {
        width: 40%;
    }

    .consultation-image {
        margin-top: 40px;
    }

    .contact-information {
        font-size: 24px;
    }
}

@media (min-width: 1500px) {
    .consultation-image {
        margin-top: 40px;
        width: 400px;
        height: 300px;
    }
}

